---
import { CollectionEntry, getCollection } from "astro:content";
import VanillaPage from "../layouts/VanillaPage.astro";
---

<head>
  <!-- Google tag (gtag.js) -->
  <link rel="preconnect" href="https://www.googletagmanager.com" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500&display=swap"
    rel="stylesheet"
  />

  <!-- Icons -->
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
  />

  <!-- TODO Code Block Markdown Highlight -->
  <!-- <link id="light-highlight" rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
  <link id="dark-highlight" rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script> -->

  <!-- Local CSS -->
  <link rel="stylesheet" href="./cv/css/styles.css" />

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Basic meta info -->
  <meta
    name="keywords"
    content="Full Stack Developer, Johannes van der Merwe, C#, SQL Server, React, Angular, AWS, software engineer"
  />
  <meta name="author" content="Johannes van der Merwe" />
  <meta
    name="description"
    content="Johannes van der Merwe is a technical problem-solver with a focus in Full Stack Development using ASP.NET & C#, SQL Server, React, Angular, and AWS."
  />
  <!-- Site Name, Title, and Description to be displayed -->
  <title>Johannes van der Merwe - Full Stack Developer</title>
  <meta property="og:site_name" content="Johannes van der Merwe" />
  <meta property="og:title" content="Johannes van der Merwe" />
  <meta
    property="og:description"
    content="Johannes van der Merwe is a technical problem-solver with a focus in Full Stack Development using ASP.NET & C#, SQL Server, React, Angular, and AWS."
  />
  <meta property="og:image" content="https://johannesmerwe.com/cv/img/j.png" />

  <!-- Meta for Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:title"
    content="Johannes van der Merwe | Full Stack Developer"
  />
  <meta
    name="twitter:image"
    content="https://johannesmerwede.com/cv/img/j.png"
  />
  <meta
    name="twitter:description"
    content="Johannes van der Merwe is a technical problem-solver with a focus in Full Stack Development using ASP.NET & C#, SQL Server, React, Angular, and AWS."
  />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="./cv/img/favicon/favicon.ico" />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="./cv/img/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./cv/img/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="./cv/img/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="./cv/img/favicon/site.webmanifest" />

  <title>Johannes van der Merwe CV</title>
</head>

<VanillaPage>
  <body class="core">
    <section class="l-main bd-container">
      <!-- All elements within this div, is generated in PDF -->
      <div class="resume" id="area-cv">
        <div class="resume__left">
          <section class="home section" id="home">
            <div class="home__container bd-grid">
              <div class="home__data">
                <h1 class="home__profession upper">Full Stack Developer</h1>
                <h2 class="home__title upper">Johannes V.D. Merwe</h2>
                <div>
                  <a
                    download=""
                    href="./cv/pdf/Johannes van der Merwe - CV.pdf"
                    class="home__button-movil"
                    aria-label="Download CV PDF">Download PDF</a
                  >
                </div>
              </div>
              <div class="home__address bd-grid">
                <span class="home__information">
                  <i class="bx home__icon bxs-envelope"></i>
                  <a href="mailto:johannesmerwede@gmail.com" aria-label="Email"
                    >johannesmerwede@gmail.com</a
                  >
                </span>
                <span class="home__information">
                  <i class="bx home__icon bxs-plane-alt"></i>South Africa
                </span>
                <span class="social__link">
                  <i class="bx social__icon bxl-linkedin-square"></i>
                  <a
                    href="https://www.linkedin.com/in/johannes-van-der-merwe/"
                    target="_blank"
                    class="social__link"
                    rel="noopener noreferrer"
                    aria-label="LinkedIn">LinkedIn</a
                  >
                </span>
                <span class="social__link">
                  <i class="bx social__icon bxl-github"></i>
                  <a
                    href="https://github.com/johannes-vdm"
                    target="_blank"
                    class="social__link"
                    rel="noopener noreferrer"
                    aria-label="GitHub">GitHub</a
                  >
                </span>
                <span class="social__link">
                  <i class="bx social__icon bx-globe"></i>
                  <a
                    href="https://johannesmerwe.com/"
                    target="_blank"
                    class="social__link"
                    rel="noopener noreferrer"
                    aria-label="Website">johannesmerwe.com</a
                  >
                </span>
              </div>
            </div>

            <!-- Theme change button -->
            <i
              class="bx bx-moon change-theme"
              title="Dark/Light"
              id="theme-button"></i>
            <a
              download=""
              href="cv/pdf/Johannes van der Merwe - CV.pdf"
              aria-label="pdf"
            >
              <i
                class="bx bx-download generate-pdf"
                title="Download PDF"
                id="resume-button"></i>
            </a>
          </section>

          <!-- SOCIAL -->

          <!-- Intro  -->
          <section class="hobbies" id="hobbies">
            <!-- <h2 class="section-title">Intro</h2> -->
            <div class="hobbies__content">
              <p>
                I have 3 years of professional experience in the industry as a
                Full-Stack Developer. I have honed a strong understanding of
                various programming languages and frameworks, including C#/.Net,
                SQL Server, React and Angular, as well as underlying
                infrastructures such as AWS core technologies.
              </p>
              <br />
              <p>
                I consistently add value to the products and services I work on,
                and have honed my technical skills, communication and
                problem-solving abilities. I am comfortable interacting with
                clients and team members at all levels, and am self-sufficient
                in managing time and projects.
              </p>
              <br />
            </div>
          </section>

          <!-- SKILLS  -->
          <section class="skills pb-custom" id="skills">
            <h2 class="section-title">Technologies</h2>
            <div class="skills__content">
              <ul class="skills__data">
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  C# (ASP.NET 7)
                </li>
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  MS SQL Server & MySQL
                </li>
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  Javascript (ES6, ESX/TS)
                </li>
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  ReactJS & NextJS
                </li>
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  CSS, TailwindCSS
                </li>
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  Git & Terminal
                </li>
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  Docker
                </li>
                <li class="skills__name">
                  <span class="skills__circle"></span>
                  AWS Core Services
                </li>
              </ul>
            </div>
          </section>

          <!-- Hobbies  -->
          <section class="hobbies" id="hobbies">
            <h2 class="section-title">Hobbies</h2>
            <div class="hobbies__content">
              <ul class="hobbies__data">
                <li class="hobbies__name">
                  <span class="hobbies__circle"></span>🍳 Cooking
                </li>
                <li class="hobbies__name">
                  <span class="hobbies__circle"></span>⛳ Golfing
                </li>
                <li class="hobbies__name">
                  <span class="hobbies__circle"></span>🎣 Fishing
                </li>
                <li class="hobbies__name">
                  <span class="hobbies__circle"></span>🏄‍♂️ Kiteboarding
                </li>
                <li class="hobbies__name">
                  <span class="hobbies__circle"></span>👨‍💻 Tech Stuff!
                </li>
              </ul>
            </div>
          </section>
        </div>

        <div class="resume__right">
          <!-- Experience -->
          <section class="section section-top experience" id="experience">
            <h2 class="section-title">Experience</h2>
            <div class="experience__container bd-grid">
              <div class="experience__content">
                <div class="experience__time">
                  <span class="experience__rounder"></span>
                  <span class="experience__line"></span>
                </div>
                <div class="experience__data bd-grid">
                  <h3 class="experience__title">
                    FULL-STACK DEVELOPER <span class="tag">Full Time</span>
                  </h3>
                  <span class="experience__company"
                    >Aug 2022 - Present | Caseware Africa, AdaptIT</span
                  >
                  <p class="experience__description">
                    •&nbsp;&nbsp;Developing Auditing and Accounting
                    applications, built into a client-specific portal. Utilizing
                    pre-existing Javascript form-builders, and modifying this to
                    a great extent. Custom styling is also applied in order to
                    satisfy clients.
                    <br />
                    •&nbsp;&nbsp;Implementing Safe framework to collaborate with
                    large, international teams to become as Agile as possible.
                  </p>
                  <div>
                    <span class="tech">Angular</span>
                    <span class="tech">ES6, TSX</span>
                    <span class="tech">CSS</span>
                    <span class="tech">NodeJS</span>
                    <span class="tech">C#</span>
                    <span class="tech">AWS</span>
                    <span class="tech">Jira</span>
                    <span class="tech">GitHub</span>
                  </div>
                </div>
              </div>
              <div class="experience__content">
                <div class="experience__time">
                  <span class="experience__rounder"></span>
                  <span class="experience__line"></span>
                </div>

                <div class="experience__data bd-grid">
                  <h3 class="experience__title">
                    FULL-STACK DEVELOPER <span class="tag">Full Time</span>
                  </h3>
                  <span class="experience__company"
                    >Oct 2021 - Aug 2022 | ThinkTank Creative</span
                  >
                  <p class="experience__description">
                    •&nbsp;&nbsp;Developed file security system with
                    authentication for administrative users.
                    <br />
                    •&nbsp;&nbsp;Developed complete Laravel CRUD systems with modular
                    forms and calendar data systems.
                  </p>
                  <div>
                    <span class="tech">ReactJS</span>
                    <span class="tech">ES6</span>
                    <span class="tech">CSS</span>
                    <span class="tech">PHP</span>
                    <span class="tech">Laravel</span>
                    <span class="tech">MVC</span>
                    <span class="tech">MySQL</span>
                    <span class="tech">Apache</span>
                    <span class="tech">GitHub</span>
                  </div>
                </div>
              </div>
              <div class="experience__content">
                <div class="experience__time">
                  <span class="experience__rounder"></span>
                  <span class="experience__line"></span>
                </div>

                <div class="experience__data bd-grid">
                  <h3 class="experience__title">
                    FULL-STACK DEVELOPER <span class="tag">Contract</span>
                  </h3>
                  <span class="experience__company"
                    >Sept 2021 - Oct 2021 | SMART Media
                  </span>
                  <p class="experience__description">
                    •&nbsp;&nbsp;Developed Greensock animated landing pages with
                    custom CSS modules and converted entire website to server
                    side-rendering for SEO and performance purposes.
                    <br />
                    •&nbsp;&nbsp;Developed blog API's with Laravel Lumen, fetched
                    and handled with React Js.
                  </p>
                  <div>
                    <span class="tech">ReactJS</span>
                    <span class="tech">ES5, ES6</span>
                    <span class="tech">CSS</span>
                    <span class="tech">Laravel Lumen</span>
                    <span class="tech">MySQL</span>
                    <span class="tech">BitBucket</span>
                    <span class="tech">Google Ads</span>
                  </div>
                </div>
              </div>
              <div class="experience__content">
                <div class="experience__time">
                  <span class="experience__rounder"></span>
                  <span class="experience__line"></span>
                </div>

                <div class="experience__data bd-grid">
                  <h3 class="experience__title">
                    FULL-STACK DEVELOPER <span class="tag">Contract</span>
                  </h3>
                  <span class="experience__company"
                    >Feb 2021 - Feb 2022 | Intelligent Machine Incorporated
                  </span>
                  <p class="experience__description">
                    •&nbsp;&nbsp;Developed multiple plugins using MySQL, PHP.
                    <br />
                    •&nbsp;&nbsp;Created secure intranets with multiple features
                    like user-roles, dynamic user management and mail verification.
                    <br />
                    •&nbsp;&nbsp;Using Google form iFrame and converted code to create
                    a static HTML with dynamic styling using PHP and Javascript.
                  </p>
                  <div>
                    <span class="tech">Javascript</span>
                    <span class="tech">ES6</span>
                    <span class="tech">CSS</span>
                    <span class="tech">Bootstrap</span>
                    <span class="tech">PHP</span>
                    <span class="tech">MySQL</span>
                    <span class="tech">GitHub</span>
                  </div>
                </div>
              </div>
              <div class="experience__content">
                <div class="experience__time">
                  <span class="experience__rounder"></span>
                </div>
                <div class="content bd-grid">
                  <div class="experience__data bd-grid">
                    <h3 class="experience__title">
                      FRONT-END DEVELOPER <span class="tag">Full Time</span>
                    </h3>
                    <span class="experience__company"
                      >Mar 2020 — Oct 2020 | Site By Design
                    </span>
                    <p class="experience__description">
                      •&nbsp;&nbsp;Designed WordPress Websites for small-sized
                      businesses using Elementor and Gutenberg page builder.
                      <br />
                      •&nbsp;&nbsp;Developed PHP plugin login and registration system
                      with dashboards.
                    </p>
                  </div>
                  <div>
                    <span class="tech">Javascript</span>
                    <span class="tech">ES6</span>
                    <span class="tech">CSS</span>
                    <span class="tech">NodeJS</span>
                    <span class="tech">MySQL</span>
                    <span class="tech">Dedicated Hosting</span>
                    <span class="tech">GitHub</span>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Certifications -->
          <section class="certificates" id="certificates">
            <div class="references__container bd-grid">
              <div class="references__content bd-grid">
                <div class="certificate-container">
                  <div class="credly-badge-container">
                    <img
                      class="credly-badge"
                      src="/cv/img/badges/certified-safe-5-agilist.png"
                      alt="Safe 5 Agilist Certificate Credly Badge"
                    />
                  </div>
                  <div class="certificate-content-container">
                    <p class="certificate__decription">Scaled Agile Inc.</p>
                    <h3 class="certificate__title">
                      <a
                        target="blank"
                        aria-label="credly-scaled-agile"
                        href="https://www.credly.com/badges/0a34c114-e2c7-4be5-90e0-5921bd730052/public_url"
                      >
                        Certified SAFe® 5 Agilist
                      </a>
                    </h3>
                    <p class="certificate__subtitle">Issued, October 2022</p>
                  </div>
                </div>
              </div>
              <div class="references__content bd-grid">
                <div class="certificate-container">
                  <div class="credly-badge-container">
                    <img
                      class="credly-badge"
                      src="/cv/img/badges/certified-safe-6-agilist.jpg"
                      alt="Safe 5 Agilist Certificate Credly Badge"
                    />
                  </div>
                  <div class="certificate-content-container">
                    <p class="certificate__decription">Scaled Agile Inc.</p>
                    <h3 class="certificate__title">
                      <a
                        target="blank"
                        aria-label="credly-scaled-agile"
                        href="https://www.credly.com/badges/12896c33-0004-4b67-8fe8-52e25e800e0b/public_url"
                      >
                        Certified SAFe® 6 Agilist
                      </a>
                    </h3>
                    <p class="certificate__subtitle">Issued, April 2023</p>
                  </div>
                </div>
              </div>
              <div class="references__content bd-grid">
                <div class="certificate-container">
                  <div class="credly-badge-container">
                    <img
                      class="credly-badge"
                      src="/cv/img/badges/aws-certified-cloud-practitioner.png"
                      alt="AWS Certified Cloud Practitioner Credly Badge"
                    />
                  </div>
                  <div class="certificate-content-container">
                    <p class="certificate__decription">Amazon Web Services</p>
                    <h3 class="certificate__title">
                      <a
                        target="blank"
                        aria-label="credly-aws-developer-assocate"
                        href="https://www.credly.com/badges/9c2a318d-8105-4cec-aa87-3f8130eeb73c/public_url"
                      >
                        Certified Cloud Practitioner
                      </a>
                    </h3>
                    <p class="certificate__subtitle">Issued, December 2022</p>
                  </div>
                </div>
              </div>
              <div class="references__content bd-grid">
                <div class="certificate-container">
                  <div class="credly-badge-container">
                    <img
                      class="credly-badge"
                      src="/cv/img/badges/aws-certified-developer-associate.png"
                      alt="AWS Certified Cloud Practitioner Credly Badge"
                    />
                  </div>
                  <div class="certificate-content-container">
                    <p class="certificate__decription">Amazon Web Services</p>
                    <h3 class="certificate__title">
                      <a
                        target="blank"
                        aria-label="credly-aws-developer-associate"
                        href="https://www.credly.com/badges/9c2a318d-8105-4cec-aa87-3f8130eeb73c/public_url"
                      >
                        Certified Developer Associate
                      </a>
                    </h3>
                    <p class="certificate__subtitle">Issued, May 2023</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="pb-custom"></div>
            <div style="padding-bottom: 10px;"></div>
          </section>
        </div>
      </div>

      <!-- Scroll Top Mobile -->
      <a href="#" class="scrolltop" id="scroll-top">
        <i class="bx bx-up-arrow-alt scrolltop__icon"></i>
      </a>
      <!-- <section class="skills resume__right pages">
        <h2 class="section-title">Technologies</h2>
      </section> -->

      <!-- TODO -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> -->

      <!-- Mouse -->
      <script type="text/javascript">
        window._mfq = window._mfq || [];
        (function () {
          var mf = document.createElement("script");
          mf.type = "text/javascript";
          mf.defer = true;
          mf.src =
            "//cdn.mouseflow.com/projects/1e58c92d-6492-46ac-97ce-21327987c768.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
        })();
      </script>

      <!-- TODO -->
      <!-- <script src="./cv/js/markdownRead.js"></script> -->

      <!-- Main JS -->
      <script src="./cv/js/main.js"></script>

      <!-- HTML2Pdf -->
      <script defer src="./cv/js/html2pdf.bundle.min.js"></script>

      <script type="text/javascript">
        window._mfq = window._mfq || [];
        (function () {
          var mf = document.createElement("script");
          mf.type = "text/javascript";
          mf.defer = true;
          mf.src =
            "//cdn.mouseflow.com/projects/1e58c92d-6492-46ac-97ce-21327987c768.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
        })();
      </script>
    </section>
  </body>
</VanillaPage>
